.play-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .play-layout__container {
    @apply mx-auto;
    @apply max-w-[450px] w-full;
    @apply flex flex-col flex-1;
  }
}
